<div id="filter" class="cols-4">
  <%= link_to "전체", films_path %><!--
  --><%= link_to "카본", add_query(cate: "carbon") %><!--
  --><%= link_to "우드", add_query(cate: "wood") %><!--
  --><%= link_to "기타", add_query(cate: "etc") %>
</div>

<ul class="list">

  <% if params[:cate].blank? || params[:cate] == "carbon" %>
    <% Article.where(tab: "films", category: "carbon").each do |a| %>
      <li>
        <% a.photos.each do |photo| %>
        <%= link_to image_tag(photo.url(:thumb)), photo.url(:thumb) %>
        <% end %>
        <div class="exp">
          <h5><span><%= a.title %></span></h5>
          <% if a.content.present? %>
            <div class="desc"><%= nl2br(a.content) %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>

  <% if params[:cate].blank? || params[:cate] == "wood" %>
    <% Article.where(tab: "films", category: "wood").each do |a| %>
      <li>
        <% a.photos.each do |photo| %>
        <%= link_to image_tag(photo.url(:thumb)), photo.url(:thumb) %>
        <% end %>
        <div class="exp">
          <h5><span><%= a.title %></span></h5>
          <% if a.content.present? %>
            <div class="desc"><%= nl2br(a.content) %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>

  <% if params[:cate].blank? || params[:cate] == "etc" %>
    <% Article.where(tab: "films", category: "etc").each do |a| %>
      <li>
        <% a.photos.each do |photo| %>
        <%= link_to image_tag(photo.url(:thumb)), photo.url(:thumb) %>
        <% end %>
        <div class="exp">
          <h5><span><%= a.title %></span></h5>
          <% if a.content.present? %>
            <div class="desc"><%= nl2br(a.content) %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>

</ul>
