<div id="filter" class="cols-3">
  <%= link_to "전체", photos_path %><!--
  --><%= link_to "국산차", add_query(cate: "domestic") %><!--
  --><%= link_to "외제차", add_query(cate: "imported") %>
</div>

<ul class="list">

  <% @photos.each do |a| %>
    <li id="<%= dom_id(a) %>">

      <% if a.photos.length > 0 %>
      <%= link_to image_tag(a.photos.first.url(:thumb)), show_path(a), data: { remote: true } %>
      <% end %>

      <div class="exp">
        <h5><span><%= a.title %></span></h5>
        <% if a.content.present? %>
          <div class="desc"><%= nl2br(a.content) %></div>
        <% end %>
      </div>
    </li>
  <% end %>

</ul>
