<div id="filter" class="cols-3">
  <%= link_to "전체", photos_path %><!--
  --><%= link_to "국산차", add_query(cate: "domestic") %><!--
  --><%= link_to "외제차", add_query(cate: "imported") %>
</div>

<ul class="list">

  <% if params[:cate].blank? || params[:cate] == "imported" %>
    <% Article.where(tab: "photos", category: "imported").each do |a| %>
      <li>
        <% a.photos.each do |photo| %>
        <%= link_to image_tag(photo.url(:thumb)), photo.url(:thumb) %>
        <% end %>
        <div class="exp">
          <h5><span><%= a.title %></span></h5>
          <% if a.content.present? %>
            <div class="desc"><%= nl2br(a.content) %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>

  <% if params[:cate].blank? || params[:cate] == "domestic" %>
    <% Article.where(tab: "photos", category: "domestic").each do |a| %>
      <li>
        <% a.photos.each do |photo| %>
        <%= link_to image_tag(photo.url(:thumb)), photo.url(:thumb) %>
        <% end %>
        <div class="exp">
          <h5><span><%= a.title %></span></h5>
          <% if a.content.present? %>
            <div class="desc"><%= nl2br(a.content) %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>

</ul>
