<ul class="list">

  <% Article.where(tab: "pricing").each do |a| %>
    <li>
      <% a.photos.each do |photo| %>
      <%= link_to image_tag(photo.url(:thumb)), photo.url(:thumb) %>
      <% end %>
      <div class="exp">
        <h5><span><%= a.title %></span></h5>

        <div class="price">
          <del><%= a.normal_price %>원</del><br/>
          <ins>특별할인</ins> <strong><%= a.price %>원</strong>
        </div>

        <% if a.content.present? %>
          <div class="desc"><%= nl2br(a.content) %></div>
        <% end %>

      </div>
    </li>
  <% end %>

</ul>
