<div class="ask">
  <!-- <h5>문의</h5> -->

  <%= form_for @ask do |f| %>
    <%= f.hidden_field :question_id %>
    <%= f.hidden_field :answered %>

    <div class="field">
      <%= f.text_area :content, class: "text smartfocus", placeholder: "문의내용을 여기에 입력해주세요.", autocomplete: "off", rows: 5 %>
    </div>

    <div class="actions">
      <%= button_tag class: 'submit' do %>
        <%= icon("fas", "check") %> <%= @ask.new_record? ? "문의등록" : "문의등록" %>
      <% end %>
    </div>

  <% end %>
</div>

<ul class="ask-list">
  <%= render @asks %>
</ul>
